## 4.6.1 Combining & Exporting Data

In [6]:
# Import libraries
import pandas as pd
import numpy as np
import os

### 1. Import the data sets into Jupyter

In [9]:
# Tell Python to remember a main folder path
path = r'C:\Users\Yoany\Documents\Instacart Basket Analysis'

In [11]:
# Import dataset orders_products_prior.csv
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [13]:
# Import dataset orders_checked.csv
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

### 2. Check the dimension of the imported dataframes

In [16]:
# Check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [18]:
df_ords.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,0,2539329,1,prior,1,2,8,0.0
1,1,2398795,1,prior,2,3,7,15.0
2,2,473747,1,prior,3,3,12,21.0
3,3,2254736,1,prior,4,4,7,29.0
4,4,431534,1,prior,5,4,15,28.0

In [20]:
df_ords.shape

(3421083, 8)

In [22]:
# Drop unnecessary columns
df_ords = df_ords.drop(['Unnamed: 0', 'Unnamed: 0'], axis=1)

In [24]:
# Check the output
df_ords.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,0.0
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [26]:
df_ords.shape

(3421083, 7)

In [28]:
df_ords_prior.shape

(32434489, 4)

### 3. Merge the dataframes

In [30]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [31]:
df_merged_large.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,0.0,196,1,0,both
1,2539329,1,prior,1,2,8,0.0,14084,2,0,both
2,2539329,1,prior,1,2,8,0.0,12427,3,0,both
3,2539329,1,prior,1,2,8,0.0,26088,4,0,both
4,2539329,1,prior,1,2,8,0.0,26405,5,0,both

### 4. Use the indicator argument to check whether there was a full match between the two dataframes

In [36]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

### 5. Export data in pickle format

In [40]:
# Export data to pkl
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [42]:
# Export modified df_ords dataframe
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_final.csv'))